.container {
  max-width: fit-content;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  align-content: center;
}

.nora-font {
  font-family: 'Lora', serif;
  font-size: 2vw;
}

.nora-font-bold {
  font-family: 'Lora', serif;
  font-weight: bold;
  font-size: 2.5vw;
}

.dancing-font {
  font-family: 'Euphoria Script', cursive;
  font-size: 10vw;
}

.script-font {
  font-family: 'Amatic SC', cursive;
  font-size: 5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.content {
  margin-bottom: 100px;
  text-align: center;
}

.row {
  height: 100vh; 
}

img {
  height: 100vh;
  object-fit: cover;
  width: 100%;
}

.col-3 {
  padding: 0;
}

.col-6 {
  padding: 0;
}

@media (max-width: 800px) {
  .border-image-right {
    object-position: left;
  }

  .border-image-left {
    object-position: right;
  }
  
  .dancing-font {
    font-size: 12.5vw;
    padding-bottom: 2.5vh;
  }

  .nora-font {
    font-size: 3.5vw;
    padding-bottom: 2.5vh;
  }

  .script-font {
    font-size: 8vw;
    padding-bottom: 2.5vh;
  }
  
  .nora-font-bold {
    font-size: 4vw;
  }
}
